<header>
  <nav class="header-nav">
    <div class="menu-wrapper">
      <a href={{ '/' | absolute_url }}><img src="{{ 'assets/monogram.svg' | absolute_url }}"></a>
      <ul>
        <li><a href="{{ 'assignments' | absolute_url }}">Assignments</a></li>
        <li><a href="{{ 'notebooks' | absolute_url }}">Notebooks</a></li>
        <li><a href="{{ 'resources' | absolute_url }}">Resources</a></li>
        <li><a href="{{ 'classes' | absolute_url }}">Classes</a></li>
        <li><a href="{{ 'guides' | absolute_url }}">Guides</a></li>
      </ul>
    </div>
    <div class="header-marquee__wrapper">
      <h2><span>PSAM 5600 <span><span>Fall 2019</span></h2>
      <div class="header-marquee__image">
        <img src="{{ 'assets/marquee.svg' | absolute_url }}">
      </div>
    </div>
  </nav>
</header>