$ace: 14px/16px "Ace Lift", Arial, "Helvetica Neue", Helvetica, sans-serif;
$times: 14px/16px TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$tablet-width: 700px;//changed from 768
$laptop-width: 1024px;
$desktop-width: 1440px;
$fourk-width: 1920px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$fourk-width - 1px}) {
    @content;
  }
}

@mixin fourk {
  @media (min-width: #{$fourk-width}) {
    @content;
  }
}

@mixin greater_than_tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin greater_than_laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

body {
  background-color: black;
  color: white;
  max-width: 1920px;
  margin: 0 0;
  position: relative;

  @include fourk {
    margin: 0 auto;
  }
}

body:before, body:after{
    content: ' ';
    display: table;
}

h1,h2 {
  font: $ace;

  @include laptop {
    font-size: 18px;
    line-height: 18px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 20px;
  }

  @include fourk {
    font-size: 28px;
    line-height: 28px;
  }
}

// ,h3,h4,h5,li

p, h3, li {
  font: $times;

  @include laptop {
    font-size: 18px;
    line-height: 20px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 22px;
  }

  @include fourk {
    font-size: 28px;
    line-height: 30px;
  }
}

main {
  border: 1px solid white;
  margin: 50px 25px;
  padding: 0 25px;
  max-width: 1100px;


  @include greater_than_tablet {
    margin: 130px 0 130px 22%;
    width: 56%;
    padding: 0 50px;
  }

  @include laptop {
    margin: 177px 0 177px 22%;
  }

  @include desktop {
    margin: 250px 0 250px 22%;
    padding: 0 85px;
  }

  @include fourk {
    margin: 330px 0 330px 22%;
    padding: 0 115px;
  }

  * {

    @include tablet {
      max-width: 400px;
    }

    max-width: 700px;
  }

  h1, h2 {
    margin: 50px 0 25px;

    @include desktop {
      margin: 85px 0 40px;
    }

    @include fourk {
      margin: 115px 0 50px;
    }
  }

  h3, h4, h5 {
    margin: 50px 0 15px;
  }

  p {
    margin: 0 0 50px;

    // @include desktop {
    //   margin: 75px 0;
    // }

    // @include fourk {
    //   margin: 85px 0;
    // }
  }

  img {
    width: 100%;
    margin: 25px 0;
  }

  ul, ol {
    margin: 25px 0 50px 30px;
  }

  li {
    margin: 10px 0;
  }

  // li::before {
  //     content: "- ";
  //   }
}

a {
  border-bottom: 1px solid white;
}

td, th {
  border: 1px solid white;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

*::selection {
  background: blue;
}

//the code highlighter
.highlighter-rouge {
  margin: 40px 0;
}