@include keyframes(spin) {
  100% {
    transform: rotate(360deg);
  }
}

.header-nav {
  margin: 48px 42px;
  position: relative;

  @include greater_than_tablet {
    position: unset;
  }

  a {
    border-bottom: unset;
  }
}

.menu-wrapper {
  @include greater_than_tablet {
    position: absolute;
    top: 0;
    left: 0;
    margin: 60px 0 0 40px;
  }

  @include desktop {
    margin: 113px 0 0 90px;
  }

  @include fourk {
    margin: 150px 0 0 120px;
  }

  ul {
    margin: 150px 0 0;

    @include greater_than_tablet {
      margin: 40px 0 0;
    }

    @include desktop {
      margin: 80px 0 0;
    }

    @include fourk {
      margin: 85px 0 0;
    }
  }

  li {
    margin: 25px 0 0;
    font: $ace;
  }

  img {
    width: 50px;

    @include greater_than_laptop {
      width: 75px;
    }

    @include fourk {
      width: 100px;
    }
  }
}

.header-marquee__wrapper {
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1100px;
  margin: 50px 0 0;

  @include greater_than_tablet {
    right: unset;
    left: 0;
    width: unset;
    margin: 0 0 0 22%;
    width: 56%;
    padding: 0 26px;
    height: 133px;
    position: absolute;
  }

  @include laptop {
    height: 177px;
    padding: 0 50px;
  }

  @include desktop {
    padding: 0 85px;
    height: 250px;
  }

  @include fourk {
    padding: 0 115px;
    height: 330px;
  }

  h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font: $times;
    text-align: center;

    @include greater_than_tablet {
      position: unset;
      transform: unset;
      top: unset;
      left: unset;
      text-align: unset;
      margin-top: 77px;
    }

    @include laptop {
      font-size: 18px;
      line-height: 18px;
      margin-top: 102px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 20px;
      margin-top: 150px;
    }

    @include fourk {
      font-size: 28px;
      line-height: 28px;
      margin-top: 200px;
    }
  }

  img {
    @include animation(spin 12s linear infinite);
  }
}

.header-marquee__image {

  @include greater_than_tablet {
    width: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 110%;
    top: 100%;
  }

  @include greater_than_laptop {
    left: 100%;
  }

  @include laptop {
    width: 200px;
  }

  @include desktop {
    width: 220px;
  }

  @include fourk {
    width: 300px;
  }
}